.cont{
  background-color: white;
  border-bottom: 0.1rem solid gray;
  width: 100%;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titolo{
  text-align: center;
  background-color: rgb(241, 43, 43);
  padding: 0.5rem;
  width: 100%;
  height: fit-content;
}

.cont-notifiche{
  width: fit-content;
  margin-left: 1rem;
  color: black;
}

.num{
  color: red;
  font-weight: bold;
}